div.code{
	font-size:12px;
	color:2D3233;
}

div.code h4,
div.code pre,
div.code div.lines,
div.code div.cFoot{
	font-family:Monaco, "Andale Mono", "Lucida Sans Typewriter", "Courier New", Courier, monospace;
}

div.code h4{
	background:#104D5B;
	color:#E7F1F2;
	font-weight:normal;
	padding:5px 10px 5px;
	font-size:12px;
}

div.code h4 span{
	float:right;
}

div.code div.cFoot{
	background:#104D5B;
	color:#E7F1F2;
	text-align:right;
	padding:2px 10px 3px;
	font-size:10px;
}

div.code div.cBody{
	overflow-y:auto;
}

div.code div.lines{
	font-size:12px;
	padding:10px 6px 10px 6px;
	float:left;
	color:#808384;
	background:#D3DBDD;
	border-right:solid 1px #BBC2C4;
}

div.code pre{
	font-size:12px;
	padding:10px 12px;
	background:#EAEEEF;
	overflow-x:auto;
	color:#2D3233;
}

div.code pre .COM{
	color:#808384;
}

div.code pre .COM span{
	color:inherit;
}

div.code pre .STR{
	color:#126A89;
}

div.code pre .KEY{
	color:#7F4C22;
}